.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

select {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.property-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.property-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.city {
  color: #777;
}

.price {
  color: #d38a39;
  font-weight: bold;
  margin-top: 5px;
}

.details-btn {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
